/* 重置浏览器CSS */

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Microsoft YaHei", "PingFang SC", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  font-size: 16px;

  &, *, ::after, ::before, :after, :before {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch;
    -webkit-touch-callout: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    line-height: 1;
  }
}


input,
button,
img {
  outline: none;
  border: 0;
}

input[type="search"] {
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  display: none;
}

input::-webkit-search-cancel-button {
  display: none;
}

button:focus {
  outline: unset;
}

button:focus-visible {
  outline: 1px solid #000;
}

textarea {
  font-family: 'inherit', serif;
}

ol,
ul {
  list-style: none;
}

span {
  display: inline-block;
}

a:active,
a:hover {
  outline: 0;
}

a,
a:visited {
  text-decoration: none;
  outline: 0;
  color: inherit;
}

em, i {
  font-style: normal;
  font-weight: normal;
}

label {
  word-wrap: break-word;
  word-break: break-all;
  user-select: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clear:after {
  content: ' ';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

[v-cloak],
[hidden],
.hide {
  display: none;
}